<div class="container">
    <h1 class="text-center">Inspiring Quotes</h1>
</div>
<div class="container">
    <div class="row destacados">

        <div class="col-md-3">
            <div>
                <a href="/task2.htm?emotion=happy">
                    <img src="images/task2/happy.jpeg" alt="happy" class="img-circle img-thumbnail">
                    <h2>happy</h2>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <a href="/task2.htm?emotion=sad">
                    <img src="images/task2/sad.jpeg" alt="sad" class="img-circle img-thumbnail">
                    <h2>sad</h2>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <a href="/task2.htm?emotion=stress">
                    <img src="images/task2/stress.jpeg" alt="stress" class="img-circle img-thumbnail">
                    <h2>stress</h2>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <a href="/task2.htm?emotion=angry">
                    <img src="images/task2/angry.jpeg" alt="angry" class="img-circle img-thumbnail">
                    <h2>angry</h2>
                </a>
            </div>
        </div>

    </div>

    <div class="row text-center">
        <img class="img-thumbnail" src="{{quotePath}}" />
    </div>
</div>

<!--footer-->
<footer class="container-fluid text-center">
    Copyright &copy; 2020 by 18127175 - Dương Tấn Phát
</footer>
<!--/footer-->
